<h1>Lista de Películas</h1>

<div class="container-fluid">
  <div class="row">
    @for (movie of movies; track movie.id) {
     <div class = "col">
      <div
        class="card p-2 m-2"
        style="width: 15rem; height: 33rem; cursor: pointer"
        (click)="onSelect(movie)"
      >
        <img
          class="card-img-top"
          [src]="movie.posterImageUrl"
          [alt]=""
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <ul>
             
          </ul>
          <p>{{movie.genre}}</p>
          <p>{{movie.director}}</p>
          <p>{{movie.releaseYear}}</p>
        </div>
      </div>
    </div> 
    }
  </div>



  @if(selected){
    <app-movie-detail [movie]="selectedMovie"></app-movie-detail>
  }
</div>
